# Bike Sharing Assignment

### Problem Statement

A bike-sharing system is a service in which bikes are made available for shared use to individuals on a short term basis for a price or free. Many bike share systems allow people to borrow a bike from a "dock" which is usually computer-controlled wherein the user enters the payment information, and the system unlocks it. This bike can then be returned to another dock belonging to the same system.


A US bike-sharing provider BoomBikes has recently suffered considerable dips in their revenues due to the ongoing Corona pandemic. The company is finding it very difficult to sustain in the current market scenario. So, it has decided to come up with a mindful business plan to be able to accelerate its revenue as soon as the ongoing lockdown comes to an end, and the economy restores to a healthy state. 


In such an attempt, BoomBikes aspires to understand the demand for shared bikes among the people after this ongoing quarantine situation ends across the nation due to Covid-19. They have planned this to prepare themselves to cater to the people's needs once the situation gets better all around and stand out from other service providers and make huge profits.


They have contracted a consulting company to understand the factors on which the demand for these shared bikes depends. Specifically, they want to understand the factors affecting the demand for these shared bikes in the American market. The company wants to know:

Which variables are significant in predicting the demand for shared bikes.
How well those variables describe the bike demands
Based on various meteorological surveys and people's styles, the service provider firm has gathered a large dataset on daily bike demands across the American market based on some factors.

### Business Goal

You are required to model the demand for shared bikes with the available independent variables. It will be used by the management to understand how exactly the demands vary with different features. They can accordingly manipulate the business strategy to meet the demand levels and meet the customer's expectations. Further, the model will be a good way for management to understand the demand dynamics of a new market.

#### Importing the required libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from statsmodels.stats.outliers_influence import variance_inflation_factor

import statsmodels.api as sm

from sklearn.metrics import mean_squared_error, r2_score

In [5]:
#Reading the data from dataset

df = pd.read_csv('/Users/yash/Desktop/IIIT-B/Linear Regression Assignment/day.csv')
df.head()

   instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
0        1  01-01-2018       1   0  ...  10.749882     331         654   985
1        2  02-01-2018       1   0  ...  16.652113     131         670   801
2        3  03-01-2018       1   0  ...  16.636703     120        1229  1349
3        4  04-01-2018       1   0  ...  10.739832     108        1454  1562
4        5  05-01-2018       1   0  ...  12.522300      82        1518  1600

[5 rows x 16 columns]

### Data Understanding

In [7]:
#Checking the shape of the dataset
df.shape

(730, 16)

In [8]:
#Checking the info of the dataset
df.describe()

          instant      season  ...   registered          cnt
count  730.000000  730.000000  ...   730.000000   730.000000
mean   365.500000    2.498630  ...  3658.757534  4508.006849
std    210.877136    1.110184  ...  1559.758728  1936.011647
min      1.000000    1.000000  ...    20.000000    22.000000
25%    183.250000    2.000000  ...  2502.250000  3169.750000
50%    365.500000    3.000000  ...  3664.500000  4548.500000
75%    547.750000    3.000000  ...  4783.250000  5966.000000
max    730.000000    4.000000  ...  6946.000000  8714.000000

[8 rows x 15 columns]